<!--  <div class="wrapper">
   <div class="header">
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/Council_of_EU.png" width="100" height="50" class="d-inline-block align-top" alt="">
        Your Europe Bot
      </a>
    </nav>
   </div>
  <chat-app>
  </chat-app>
 </div>
 -->
<div >
  <div class="header">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/assets/images/Council_of_EU.png" width="100" height="50" alt=""></a>
      <a class="navbar-brand" href="#">Your Europe Bot</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
<!--    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/assets/images/Council_of_EU.png" width="100" height="50" alt=""></a>
      <a class="navbar-brand" href="#">Your Europe Bot</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
  -->
        </ul>
        <form class="form-inline my-2 my-md-0">
<!--           <input class="form-control mr-sm-2" type="text" placeholder="Search">-->
          <button class="navbar-toggler-icon" type="submit" (click)='showMenu()'></button>
        </form>
      </div>
    </nav>
  </div>
 
<!--  <div>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
       <a class="navbar-brand" href="#">
      </a>
      <img src="/assets/images/Council_of_EU.png" width="100" height="50" class="d-inline-block align-middle" alt="">
      <div style='margin-left: 10px;'>Your Europe Bot</div>
       <div id='view-change-button' class='button form-inline' (click)='togglePanel($event)'>
       <div id='view-change-button' class='button form-inline' (click)='showMenu()'>
        <img title='Click to Collapse' class='option full' src='assets/images/Chat Button.png'>
        <img title='Click to Expand' class='option not-full' src='assets/images/Code Button.png'>
      </div>
     </nav>
  </div>
-->

  <chat-app [view]="view">
  </chat-app>
</div>

<div id="mysidemenu" class="nav-side-menu">
  <div class="brand">Menu<i class="fa fa-times fa-2x" style='position: relative; left: 80%' (click)='hideMenu()'></i></div>
  <div class="menu-list">
      <ul id="menu-content" class="menu-content collapse out">
          <li (click)='toggleView("CONV")'><a><i class="fa fa-comments-o fa-lg"></i> Conversation</a></li>
          <li (click)='toggleView("UTH")'><a><i class="fa fa-gears fa-lg"></i> Under the hood</a></li>
          <li (click)='toggleView("MIX")'><a><i class="fa fa-desktop fa-lg"></i> Mixed</a></li>
      </ul>
  </div>
</div>


 